* {
    box-sizing: border-box;
}

.icon {
    display: block;
    border: 3px solid black;
    border-radius: 50%;
    width: 100px;
    margin: 0 auto;
}

h2 {
    color: red;
    background-color: yellow;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
}

.box {
    background-color: lightblue;

    padding: 20px;
    border: 5px solid blue;
    margin: 30px;
}

a {
    background-color: green;
}